.wd-blue-background {
    background-color: blue;
    color: white;
}

.wd-white-on-black {
    background-color: black;
    color: white;
}

.wd-yellow-on-green {
    background-color: green;
    color: yellow;
}

#paragraph2 {
    background-color: red;
    color: antiquewhite;
}

.wd-fg-color-black {
    color: black;
}

.wd-fg-color-white {
    color: white;
}

.wd-fg-color-blue {
    color: #7070ff;
}

.wd-fg-color-red {
    color: #ff7070;
}

.wd-fg-color-green {
    color: green;
}

.wd-bg-color-yellow {
    background-color: #ffff07;
}

.wd-bg-color-blue {
    background-color: #7070ff;
}

.wd-bg-color-red {
    background-color: #ff7070;
}

.wd-bg-color-green {
    background-color: green;
}

.wd-bg-color-gray {
    background-color: lightgray;
}

.wd-dimension-portrait {
    width: 75px;
    height: 100px;
}

.wd-dimension-landscape {
    width: 100px;
    height: 75px;
}

.wd-dimension-square {
    width: 75px;
    height: 75px;
}

.wd-pos-relative-nudge-up-right {
    position: fixed;
    bottom: 30px;
    left: 30px;
}

.wd-pos-relative {
    position: relative;
}